<h2>Hola {{empleado.nombreempleoad}} y Bienvenido UwU</h2>
<div>
    {{titulo}}

    <table>
        <thead>
            <tr>
                <th>Nombre Empleado</th>
                <th>Edad</th>
                <th>Genero</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{empleado.nombreempleoad}}</td>
                <td>{{empleado.edad}}</td>
                <td>{{empleado.genero}}</td>
                <td>{{empleado.salario}}</td>
            </tr>
        </tbody>
    </table>
</div>



